.left-aside-enter {
  left: -100%;
}

.left-aside-enter.left-aside-enter-active {
  left: 0%;
  transition: all 500ms cubic-bezier(.65, .5, .36, 1);
}

.left-aside-leave {
  left: 0%;
}

.left-aside-leave.left-aside-leave-active {
  left: -100%;
  transition: all 500ms cubic-bezier(.65, .5, .36, 1);
}


.head-table {
  background-color: #191970;
  color: white;
}

.menu a {
  text-decoration: none;
}

.menu div:hover {
  background-color: #00BFFF;
}

.good:hover {
  background-color: #DCDCDC;
}

.total {
  background-color: #32CD32;
}

.edit {
  background-color: #FFF5EE;
}

.left-side {
  background-color: #B0C4DE;
}

.navigation {
  border: none;
  background-color: #B0C4DE;
}

.navigation:hover {
  background-color: #00BFFF;
}

header {
  background-color: #B0C4DE;
}
