.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.left-aside-enter {
  left: -100%;
}

.left-aside-enter.left-aside-enter-active {
  left: 0%;
  transition: all 500ms cubic-bezier(.65, .5, .36, 1);
}

.left-aside-leave {
  left: 0%;
}

.left-aside-leave.left-aside-leave-active {
  left: -100%;
  transition: all 500ms cubic-bezier(.65, .5, .36, 1);
}

.search-bar {
  background-color: #FFFACD
}

.close-button {
  border: none;
  background-color: rgba(22, 33, 44, 0)
}
